.mypy_cache
vk.xml
__pycache__

#Added by cargo
#
#already existing elements are commented out

/target
**/*.rs.bk
Cargo.lock

#Added by cargo
#
#already existing elements are commented out

#/target
#**/*.rs.bk
#Cargo.lock